[submodule "tools/thirdparty/CLI11"]
	path = tools/thirdparty/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "tools/thirdparty/lodepng"]
	path = tools/thirdparty/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "tools/thirdparty/glfw"]
	path = tools/thirdparty/glfw
	url = https://github.com/glfw/glfw/
